<!DOCTYPE htm1>
<htm1>
<head>


</head>
<body>
    <center>
        <table border="1" width="500">
            <tr>
            <td colspan="2" align="center">Insect Information</td>
            </tr>
            <tr>
            <td align="center">Scientific Name:</td><td align="center">Odoontolabis vollenhoveni</td>
            </tr>
            <tr>
            <td align="center">First described:</td><td align="center">Parry, 1864</td>
            </tr>
            <tr>
            <td colspan="2" align="center"><img src="../static/O.jpg" width=“300”></tr>
            </tr>
</table>
</center>
</body>
</html>